{% extends 'base.html' %}

{% block content %}
<div class="m-4 container-sm">
    <h1 class="display-1">Add Feedback</h1>
    <form action="{{ url_for('feedback.add_feedback', username=username) }}" method="POST" class="m-4 container-sm">

        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
        </p>
        {% endfor %}

        <button class="btn btn-success" type="submit">Add</button>

    </form>
</div>

{% endblock %}